
@{
    ViewBag.Title = "Kategori Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<OyunMVC.Data.Model.Kategori>

<div class="col-md-12">
    <div class="panel panel-default">
        <header class="panel-heading">@ViewBag.Title</header>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kategori Adı</th>
                            <th>Üst Kategori</th>
                            <th>Eklenme Tarihi</th>
                            <th>Durum</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            
                            string a = ((OyunMVC.Admin.Controllers.KategoriController)this.ViewContext.Controller).ParentBul(item.ParentID).ToString();

                            <tr>
                                <td>@item.ID</td>
                                <td>@item.KategoriAdi</td>
                                <td>@a</td>
                                <td>@item.EklenmeTarihi.ToString("MM.dd.yyyy")</td>
                                <td>
                                    @if (item.AktifMi == true)
                                    {
                                        <b class="label label-success">Aktif</b>
                                    }
                                    else
                                    {
                                        <b class="label label-danger">Pasif</b>
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("Duzenle", "Kategori", new { id = item.ID})" class="btn btn-default btn-sm">Düzenle</a>
                                    <button class="btn btn-default btn-sm" id="btn-KategoriSil" data-id="@item.ID">Sil</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), PagedList.Mvc.PagedListRenderOptions.Classic)
</div>

